.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: #fff; /* 명시적으로 설정 */
  color: #000; /* 명시적으로 설정 */
  height: 65px;
  border-bottom: 1px solid #323a49; /* Add a top border */
  padding: 25px;
}

.navbar-brand-text {
  font-size: small;
  padding-left: 20px;
}

.dropdown {
  margin-right: 2%;
}

.login-form {
  max-width: 500px;
}

.bi {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
}

.bi-list {
  margin-right: 3px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
}

.offcanvas {
  margin-top: 65px;
}

.sidebar {
  position: fixed;
  top: 0px;
  padding: 30px;
  padding-top: 50px;
  width: 255px;
  height: 100%;
  overflow-y: auto;
  background-color: #f4f4f4; /* 명시적으로 설정 */
  color: #333; /* 명시적으로 설정 */
  z-index: 1000;
  transition: width 0.3s ease;
  border-right: 1px solid #323a49; /* Add a top border */
}

.main {
  margin-top: 120px;
  margin-left: 330px;
  margin-right: 255px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #fff; /* 명시적으로 설정 */
  color: #000; /* 명시적으로 설정 */
  z-index: 700;
  padding: 25px;
  padding-left: 300px;
  border-top: 1px solid #323a49; /* Add a top border */
}

.header-title {
  margin-bottom: 20px;
  color: #343a40;
}

.header-description {
  color: #6c757d;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.card-body {
  text-align: center;
}

.react-datepicker-wrapper {
  width: 100%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.show {
    width: 135px;
  }

  .main {
    margin-left: 60px;
  }

  .sidebar.show ~ .main {
    margin-left: 135px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 50px;
  }

  .sidebar.show {
    width: 120px;
  }

  .main {
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .sidebar.show ~ .main {
    margin-left: 120px;
  }

  .header, .footer {
    height: 50px;
  }

  .main, .sidebar {
    font-size: 0.9em;
  }
}
