.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff; /* 명시적으로 설정 */
  color: #000; /* 명시적으로 설정 */
  height: 60px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 135px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #f4f4f4; /* 명시적으로 설정 */
  color: #333; /* 명시적으로 설정 */
  z-index: 800;
  transition: width 0.3s ease;
}

.main {
  margin-top: 60px;
  margin-left: 135px;
  margin-right: 75px;
  min-height: calc(100vh - 60px);
  padding-bottom: 60px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #fff; /* 명시적으로 설정 */
  color: #000; /* 명시적으로 설정 */
  z-index: 900;
  padding-bottom: 60px;
}

.header-title {
  margin-bottom: 20px;
  color: #343a40;
}

.header-description {
  color: #6c757d;
}

.card-header {
  /* font-size: 1.25rem; */
  font-weight: bold;
  text-align: center;
  background-color: #f8f9fa; /* Bootstrap의 기본 배경색 */
}

.card-body {
  background-color: #ffffff; /* 기본 배경색 */
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.show {
    width: 135px;
  }

  .main {
    margin-left: 60px;
  }

  .sidebar.show ~ .main {
    margin-left: 135px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 50px;
  }

  .sidebar.show {
    width: 120px;
  }

  .main {
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .sidebar.show ~ .main {
    margin-left: 120px;
  }

  .header, .footer {
    height: 50px;
  }

  .main, .sidebar {
    font-size: 0.9em;
  }
}
